*{
    font-family: arial;
    margin: 0;
    padding: 0;
}

.blur{
	transition: .2s filter linear;
	filter: blur(3px);
}

@font-face {
    font-family: Fredoka_One;
    src: url('../../fonts/FredokaOne-Regular.ttf');
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

::-webkit-scrollbar-track {
    transition: all .5s;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    transition: all .5s;
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    transition: all .5s;
    background-color: #999999;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    transition: all .5s;
    background-color: #707070;
}
::selection {
    color: #fff;
    background: #32CC34;
}
