a {
  text-decoration: none;
  color: red;
}

blockquote p {
  font-size: 0.5vmin;
  color: #9e3a3a;
}


/*nav bar*/
.container {
  min-height: 100%; !important;
  heigth: 100%;
}

.container .nav-bar {
  width: 100%;
  padding: 0.85vmin 0;
  position: absolute;
}

.container .nav-bar .menu-items {
  float: right;
  color: black;
  position: relative;
  top: 50%;
  margin-right: 2vmin;
}

.container .nav-bar .menu-items ul {
  list-style: none;
  margin: auto;
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.container .nav-bar .menu-items ul li {
  float: left;
  font-size: 2vmin;
  margin-left: 3vmin;
  padding: 1vmin 0;
}

.container .nav-bar .logo {
  display: inline-block;
  position: relative;
  margin-left: 8vmin;
  float: left;
}

.container .nav-bar .logo .name {
  font-family: Fredoka_one;
  font-size: 4vmin;
  color: white;
}

/*background photo, parallax*/
.parallax {
  height: 110vmin;
  width: 100%;
  background-image: url('../../img/tour_details/img22.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax .parallax-layer {
  width: 30vmax; !important;
  text-align: center;
  color: white;
}

.parallax .parallax-layer button {
  color: white;
  background-color: #ee6c59;
  width: auto;
  border-radius: 6px;
  border: #ee6c59;
  font-size: 15px;
  padding: 1vmin;
  margin-top: 0.5vmin;
  line-height: 20px;
  transition: all .3s;
}

/*content */
#section-id {
  display: flex;
  justify-content: center;
  width: 70vmax;
  padding: 0.85vmin;
  margin: auto;
}

#section-id .aside-with-text {
  width: 100vmax;
}

#section-id .aside-with-text .aside-div .texts {
  padding: 2vmin;
  text-align: justify;
  border-bottom: 1px solid #dcdcdc;
  font-family: arial; !important
}

#section-id .aside-with-text .aside-div .texts h3 {
  text-align: center;
  padding: 5px 0px;
}
#section-id .aside-with-text .aside-div .texts p {
  padding-bottom: 5px;
}
#section-id .aside-with-text .aside-div .texts .fas  {
  color: #464646;
}

 #section-id .aside-with-text .aside-div .texts .map {
   width: 100%;
   height: 70vmin;
}
