<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Second Page</title>
    <link rel="stylesheet" href="css/second_page/style.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Gafata" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <div class="logo">
          <h2 class="name">TapTap</h2>
        </div>
        <div class="menu-items">
          <ul class="list-inline">
            <li>Become a Local</li>
            <li>Contact</li>
            <li>About</li>
            <li>Sign In</li>
          </ul>
        </div>
      </div>
    <div class="parallax">

      <div class="parallax-layer">
        <h1>Discover the city by bike</h1>
        <p>Sports experience</p>
        <p>Hosted by Luis, Ernesto & Sonia</p>
        <button id="scrolling">See Dates</button>
      </div>
    </div>
</div>
    <section id="section-id">
        <aside class="aside-with-text">
            <div class="aside-div">
                  <div class="texts">
                    <p> <i class="fas fa-map-marker-alt"></i> <span> La Habana</span></p>
                    <p> <i class="fas fa-clock"></i> <span> 3.5 hours total</span></p>
                    <p> <i class="fas fa-ticket-alt"></i> <span> Drinks, 1 ticket and Equipment</span></p>
                    <p> <i class="fas fa-comments"></i> <span> Offered in English</span></p>
                  </div>
                  <div class="texts">
                    <p>There’s only one spot left. Join 7 others at Luis, Ernesto & Sonia’s experience this Wednesday.</p>
                  </div>
                  <div class="texts">
                    <h3>About your host, Luis, Ernesto & Sonia</h3>
                    <p>We are three friends—a programmer,
                      an architect, and an art historian—who share the same passion
                      of riding bicycles throughout Havana with our friends.</p>
                  </div>
                  <div class="texts">
                    <h3>What we’ll do</h3>
                    <p>
                      We'll pick up the bikes and ride along our favorite streets of Havana's central Vedado neighborhood.
                      Before crossing the Almendares River by the Iron Bridge, we will stop to taste a variety of delicious natural juices.
                       Then we will visit the Havana Forest along its trails, where you will enjoy a natural and incredible atmosphere to take photos.
                     </p>
                  </div>
                  <div class="texts">
                    <h3>What I’ll provide</h3>
                    <p>Water & Natural Juice </p>
                    <blockquote>
                        <p>One small bottle of water and up to three natural juices are included.</p>
                    </blockquote>
                        <p>Entry to Colon Cemetery</p>
                    <blockquote>
                        <p>Entrance fee of 5 dollars is included.</p>
                    </blockquote>
                    <p>Bike, helmet, and lock </p>
                  </div>
                  <div class="texts">
                    <h3>Who can come</h3>
                    <p>Guests ages 12 and up can attend.</p>
                  </div>
                  <div class="texts">
                    <h3>Notes</h3>
                    <p>
                      Wear long sleeves and comfortable shoes. We highly recommend that you bring sunscreen and
                      sunglasses for protection. Also don't forget your camera,
                       because this is an amazing ride for taking photos.
                    </p>
                  </div>
                  <div class="texts">
                    <h3>Where we’ll be</h3>
                    <p>
                      We will make our way through the central neighborhood of Vedado. Along the way you will see the Malecon Habanero—the broad coastal road.
                      Then we will cross the Almendares River and see the Havana Forest, the Colon Cemetery, Revolution Square, and Havana University.
                    </p>
                  </div>
                  <div class="texts">
                      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d781987.1345269473!2d45.06332055536627!3d40.038877880725096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1522007347093" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
            </div>
        </aside>
    </section>
  </div>

      <script type="text/javascript" src="js/second_page/second_page.js"></script>
  </body>
</html>




<!--slider for future -->

<!--
<div class="swiper-container shape_abaj">
<div class="swiper-wrapper">
<div class="swiper-slide act_img_abaj">
<img src='../../img/second_page/img2.jpg' alt="" class="img-responsive">
</div>
<div class="swiper-slide act_img_abaj">
<img src='../../img/second_page/img3.jpg' alt="" class="img-responsive">

</div>

<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

-->
